<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />
    <title>Liste des Suspects</title>
    <link rel="stylesheet" href="/static/style/listSuspect.css">
    <link rel="icon" href="favicon" type="image/x-icon">
</head>
<body>
    <main>
        <div id="case">
            <table id="tab_data">
                <tr id="tr_th">
                    <th class="th_vesData" id="th_sus">
                        Liste Suspect
                        <hr/>
                    </th>
                </tr>
                <tr id="tr_vesData">
                    <td class="vesData" id="tdSus">
                        <p id="sus0"></p>
                        <p id="sus1"></p>
                        <p id="sus2"></p>
                        <p id="sus3"></p>
                        <p id="sus4"></p>
                        <p id="sus5"></p>
                        <p id="sus6"></p>
                        <p id="sus7"></p>
                        <p id="sus8"></p>
                        <p id="sus9"></p>
                        <p id="sus10"></p>
                        <p id="sus11"></p>
                        <p id="sus12"></p>
                        <p id="sus13"></p>
                        <p id="sus14"></p>
                        <hr/>
                    </td>
                </tr>
            </table>
            <form action="/sendListSuspect" method="POST">
                <button type="submit" class="submit-btn" id="submitMiss">Passer à la mission</button>
            </form>
        </div>
    </main>
</body>
</html>