html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f4f7;
    color: #333;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    height: 100vh;
}

main {
    background-color: #ffffff;
    border: 1px solid #004080;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2%;
    min-width: 60vw;
    max-width: 100vw;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    color: #004080;
    margin-bottom: 2%;
}

p {
    color: #004080;
    margin: 2% 0;
}

div {
    background-color: #ffffff;
    border: 1px solid #004080;
    border-radius: 8px;
    padding: 2%;
    margin: 2% 0;
    text-align: center;
}

button {
    background-color: #004080;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 1vh 1vw;
    cursor: pointer;
    margin: 1%;
    transition: background-color 0.3s ease;
    font-size: 1.1em;
}

button:hover {
    background-color: #002868;
}
